/*img {
  max-width: 100%;
  max-height: 100%;
}*/

.place-img {
  max-width: 100%;
  max-height: 100%;
}

.app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.search-bar {
  position: absolute;
}

.search {
  margin-top: 75px;
  margin-left: 10px;
}

.search-box {
  width: 300px;
  border: 3px solid #00B4CC;
}

.search-button {
  margin-top: 3px;
  float: left;
  background-color: #00B4CC;
  color: white;
}

.search-button:hover {
  background-color: #058b9d;
  color: white;
}

.search-button:focus {
  color: white;
}

.login {
  float: right;
  margin-right: 50px;
}

.gmap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.info-header {
  background-color: #00B4CC;
  color: white;
  padding: 3px;
}

.details {
  width: 300px;
  float: right;
  background-color: white;
  padding: 10px;
  margin-right: 50px;
  box-shadow: 5px 5px 5px #888888;
  width: 250px;
}

.add-fav {
  background-color: #FC4A1A;
  color: white;
}

.add-fav:hover {
  background-color: #ba3b19;
  color: white;
}

.add-fav:focus {
  color: white;
}

.place-img {
  display: block;
  margin: auto;
}

.close-x {
  float: right;
  cursor: pointer;
}

.fav-list > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.fav-list > .row > .col-xs-3 {
  display: inline-block;
  float: none;
}

.favorite {
  position: fixed;
  bottom: 200px;
  width: 500px;
  height: 60px;
  clear: both;
  margin-left: 75px;
}

.fav-img {
  width: 100px;
  cursor: pointer;
}

.fav-col {
  float: left;
  width: 100px;
  margin: 30px;
}

.fav-container {
  box-shadow: 5px 5px 5px #888888;
  float: left;
  background-color: white;
  padding: 15px;
}
