.app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-bar {
  position: absolute;
}

.search {
  margin: 3px;
}

.search-box {
  width: 300px;
  border: 3px solid #00B4CC;
}

.search-button {
  float: left;
  margin: 3px;
  background-color: #00B4CC;
  color: white;
}

.search-button:hover {
  background-color: #058b9d;
  color: white;
}

.gmap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
